.transactionHistory {
 background-color: #ffffff;
 font-size: 1.5rem;
}


table {
  border-collapse:collapse;
  width: 100%;
}
th {
  padding: 1rem 12rem;
  text-align: center;
  border: 1px solid #ccc;
  background: #00bcd5;
  color: #ffffff;
}
td {
  padding: 1rem 12rem;
  text-align: center;
  border: 1px solid #ccc;
  color: gray;

}
tbody tr:nth-child(odd) {
  background: #ecf1f4;
}
