.transactionHistory {

}


table {
  border-collapse: collapse;
  width: 100%;
}
th {
  padding: 0.25rem;
  text-align: center;
  border: 1px solid #ccc;
  background: white;
}
td {
  padding: 0.25rem;
  text-align: center;
  border: 1px solid #ccc;
}
tbody tr:nth-child(odd) {
  background: #eee;
}
